@keyframes blink{
  0%{
    opacity: 1;
  }
  50%{
    color:red;
  }
  100%{
    color:green;
  }
}
body{
  margin:0;
}
header{
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right:0;
  z-index: 1000;
  text-align: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.323);
}

.clicker{
  font-family:'Press Start 2P',cursive;
  margin:0;
  font-weight: bolder;
  font-size: 40px;
  display: inline-block;
  padding: 8px;
  animation: rainbow 10s infinite;
}

.sub-heading{
  font-family:Roboto Mono;
  font-weight: bold;
  margin:0;
  display: inline-block;
  border-color:red;
  font-size: 18px;
  padding: 8px;

}
.challenge-section{
  display: flex;
  justify-content: center;
  animation: blink 0.3s infinite;
  margin-top: 105px;
  margin-bottom: 20px;
  font-size: 34px;
  font-family: VT323;
}
#tellme{
  font-size: 24px;
  padding-left: 10px;
  align-items: top;
  width: 100px;
  margin-left: 10px;
}
.enter{
  margin-right:20px;
  background-color: black;
  color:white;
  font-size: 18px;
  border-radius: 5px;
  border-top-left-radius:0px ;
  border-bottom-left-radius:0px ;
}
.enter:active{
  background-color: white;
  color:black;
}
.error-message{
  color:red;
  font-family: Bungee;
  text-align: center;
  font-size: 35px;
  margin: auto 10px;
  margin-bottom: 8px;
}
.score-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Bungee;
  border:dotted;
  font-size: xx-large;
}

#pink-score,#blue-score{
  align-items: center;
  border:none;
  border-radius: 5px;
  width: 50%;
  height:80px;
  font-family: Bungee;
  font-size: xx-large;
  transition:background-color 0.125s, color 0.125s;

}
#pink-score:hover,#blue-score:hover{
  color: white;
  font-size: xxx-large;
  text-align: center;
  line-height: 0px;
}
#pink-score:hover{
  border-right:black dotted;
  background-color: pink;  
}
#blue-score:hover{
  border-left:black dotted;
  background-color: skyblue;  
}
#pink-score-text,#blue-score-text{
  text-align: center;
}
.button-section{
  display: flex;
  justify-content: space-around;
  
}
#pink-button,#blue-button{
  display: flex;           
  justify-content: center;  
  align-items: center;  
  background-color: pink;
  border:none;
  border-radius: 5px;
  width: 50%;
  height: 300px;
  font-family: Bungee;
  font-size: xx-large;
  margin: 20px;
  text-align: center;
  vertical-align: middle;

}
#blue-button{
  background-color: skyblue;
}
.win{
  display: flex;
  justify-content: center;
  font-family: Bungee;
  font-size: 30px;
}

.reset{
  display: flex;
  justify-content: center;
}
#reset-button{
  padding: 16px 34px;
  width:200px;
  font-size: 28px;
  font-weight: bold;
  background-color: orange;
  color: white;
  border:none;
  border-radius: 50px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#reset-button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}